In [4]:
import pandas as pd

carSalesDF = pd.read_csv('./car-sales-missing-data.csv')
print(f"na count: {carSalesDF.isna().sum()}")
print(carSalesDF)
carSalesDF.dropna(inplace=True)
print("-" * 15, "\n", carSalesDF)

na count: Make        1
Colour      1
Odometer    4
Doors       1
Price       2
dtype: int64
     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
2  Toyota   Blue       NaN    3.0   $7,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500
5  Toyota  Green       NaN    4.0   $4,500
6   Honda    NaN       NaN    4.0   $7,500
7   Honda   Blue       NaN    4.0      NaN
8  Toyota  White   60000.0    NaN      NaN
9     NaN  White   31600.0    4.0   $9,700
---------------
      Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500

In [6]:
import pandas as pd

carSalesDF = pd.read_csv('./car-sales.csv')
print(carSalesDF)
carSalesDF['seats'] = pd.Series([5, 5, 5, 5, 5])
print("-" * 15, "\n", carSalesDF)

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00
---------------
      Make Colour  Odometer (KM)  Doors       Price  seats
0  Toyota  White         150043      4   $4,000.00    5.0
1   Honda    Red          87899      4   $5,000.00    5.0
2  Toyota   Blue          32549      3   $7,000.00    5.0
3     BMW  Black          11179      5  $22,000.00    5.0
4  Nissan  White         213095      4   $3,500.00    5.0
5  Toyota  Green          99213      4   $4,500.00    NaN
6   Honda   Blue          45698      4   $7,500.00    NaN
7   Honda   Blue          54738      4   $7,000.00    NaN
8  Toyota  White          60000      4   $6,250.00    NaN
9  Nissan  White          31600      4   $9,700.00    NaN

In [7]:
import pandas as pd
import re

carSalesDF = pd.read_csv('./car-sales.csv')
carSalesDF["Price"] = carSalesDF["Price"].apply(lambda x: re.sub(r'[\$\,\.]', '', str(x)))
carSalesDF['Make'] = carSalesDF['Make'].str.lower()
carSalesDF['seats'] = pd.Series([5, 5, 5, 5, 5])
carSalesDF.fillna({'seats': 5}, inplace=True)
fuel_per_100KM = [7.5, 9.2, 5.0, 9.6, 8.7]
carSalesDF['Fuel per 100KM'] = fuel_per_100KM
print("-" * 15, "\n", carSalesDF)

ValueError: Length of values (5) does not match length of index (10)

In [9]:
import pandas as pd
import re

carSalesDF = pd.read_csv('./car-sales.csv')
carSalesDF["Price"] = carSalesDF["Price"].apply(lambda x: re.sub(r'[\$\,\.]', '', str(x)))
carSalesDF['Make'] = carSalesDF['Make'].str.lower()
carSalesDF['seats'] = pd.Series([5, 5, 5, 5, 5])
carSalesDF.fillna({'seats': 5}, inplace=True)
fuel_per_100KM = [7.5, 9.2, 5.0, 9.6, 8.7, 4.7, 8.7, 3.0, 4.5, 7.3]
carSalesDF['Fuel per 100KM'] = fuel_per_100KM
print("-" * 15, "\n", carSalesDF)

---------------
      Make Colour  Odometer (KM)  Doors    Price  seats  Fuel per 100KM
0  toyota  White         150043      4   400000    5.0             7.5
1   honda    Red          87899      4   500000    5.0             9.2
2  toyota   Blue          32549      3   700000    5.0             5.0
3     bmw  Black          11179      5  2200000    5.0             9.6
4  nissan  White         213095      4   350000    5.0             8.7
5  toyota  Green          99213      4   450000    5.0             4.7
6   honda   Blue          45698      4   750000    5.0             8.7
7   honda   Blue          54738      4   700000    5.0             3.0
8  toyota  White          60000      4   625000    5.0             4.5
9  nissan  White          31600      4   970000    5.0             7.3

In [10]:
import pandas as pd
import re

pd.set_option('display.width', 1000)
carSalesDF = pd.read_csv('./car-sales.csv')
carSalesDF["Price"] = carSalesDF["Price"].apply(lambda x: re.sub(r'[\$\,\.]', '', str(x)))
carSalesDF['Make'] = carSalesDF['Make'].str.lower()
carSalesDF['seats'] = pd.Series([5, 5, 5, 5, 5])
carSalesDF.fillna({'seats': 5}, inplace=True)
fuel_per_100KM = [7.5, 9.2, 5.0, 9.6, 8.7, 4.7, 8.7, 3.0, 4.5, 7.3]
carSalesDF['Fuel per 100KM'] = fuel_per_100KM
carSalesDF['Total fuel used'] = carSalesDF['Fuel per 100KM'] / 100 * carSalesDF['Odometer (KM)']
print(carSalesDF)

     Make Colour  Odometer (KM)  Doors    Price  seats  Fuel per 100KM  Total fuel used
0  toyota  White         150043      4   400000    5.0             7.5        11253.225
1   honda    Red          87899      4   500000    5.0             9.2         8086.708
2  toyota   Blue          32549      3   700000    5.0             5.0         1627.450
3     bmw  Black          11179      5  2200000    5.0             9.6         1073.184
4  nissan  White         213095      4   350000    5.0             8.7        18539.265
5  toyota  Green          99213      4   450000    5.0             4.7         4663.011
6   honda   Blue          45698      4   750000    5.0             8.7         3975.726
7   honda   Blue          54738      4   700000    5.0             3.0         1642.140
8  toyota  White          60000      4   625000    5.0             4.5         2700.000
9  nissan  White          31600      4   970000    5.0             7.3         2306.800

In [11]:
import pandas as pd
import re

pd.set_option('display.width', 1000)
carSalesDF = pd.read_csv('./car-sales.csv')
carSalesDF["Price"] = carSalesDF["Price"].apply(lambda x: re.sub(r'[\$\,\.]', '', str(x)))
carSalesDF['Make'] = carSalesDF['Make'].str.lower()
carSalesDF['seats'] = pd.Series([5, 5, 5, 5, 5])
carSalesDF.fillna({'seats': 5}, inplace=True)
fuel_per_100KM = [7.5, 9.2, 5.0, 9.6, 8.7, 4.7, 8.7, 3.0, 4.5, 7.3]
carSalesDF['Fuel per 100KM'] = fuel_per_100KM
carSalesDF['Total fuel used(L)'] = carSalesDF['Fuel per 100KM'] / 100 * carSalesDF['Odometer (KM)']
carSalesDF['Number of wheels'] = 4
print(carSalesDF)

     Make Colour  Odometer (KM)  Doors    Price  seats  Fuel per 100KM  Total fuel used(L)  Number of wheels
0  toyota  White         150043      4   400000    5.0             7.5           11253.225                 4
1   honda    Red          87899      4   500000    5.0             9.2            8086.708                 4
2  toyota   Blue          32549      3   700000    5.0             5.0            1627.450                 4
3     bmw  Black          11179      5  2200000    5.0             9.6            1073.184                 4
4  nissan  White         213095      4   350000    5.0             8.7           18539.265                 4
5  toyota  Green          99213      4   450000    5.0             4.7            4663.011                 4
6   honda   Blue          45698      4   750000    5.0             8.7            3975.726                 4
7   honda   Blue          54738      4   700000    5.0             3.0            1642.140                 4
8  toyota  White          60000      4   625000    5.0             4.5            2700.000                 4
9  nissan  White          31600      4   970000    5.0             7.3            2306.800                 4

In [2]:
import pandas as pd
import re

pd.set_option('display.width', 1000)
carSalesDF = pd.read_csv('./car-sales.csv')
carSalesDF["Price"] = carSalesDF["Price"].apply(lambda x: re.sub(r'[\$\,\.]', '', str(x)))
carSalesDF['Make'] = carSalesDF['Make'].str.lower()
carSalesDF['seats'] = pd.Series([5, 5, 5, 5, 5])
carSalesDF.fillna({'seats': 5}, inplace=True)
fuel_per_100KM = [7.5, 9.2, 5.0, 9.6, 8.7, 4.7, 8.7, 3.0, 4.5, 7.3]
carSalesDF['Fuel per 100KM'] = fuel_per_100KM
carSalesDF['Total fuel used(L)'] = carSalesDF['Fuel per 100KM'] / 100 * carSalesDF['Odometer (KM)']
carSalesDF['Number of wheels'] = 4
carSalesDF['Passed road safety'] = True
print(carSalesDF.dtypes)
print(carSalesDF)

Make                   object
Colour                 object
Odometer (KM)           int64
Doors                   int64
Price                  object
seats                 float64
Fuel per 100KM        float64
Total fuel used(L)    float64
Number of wheels        int64
Passed road safety       bool
dtype: object
     Make Colour  Odometer (KM)  Doors    Price  seats  Fuel per 100KM  Total fuel used(L)  Number of wheels  Passed road safety
0  toyota  White         150043      4   400000    5.0             7.5           11253.225                 4                True
1   honda    Red          87899      4   500000    5.0             9.2            8086.708                 4                True
2  toyota   Blue          32549      3   700000    5.0             5.0            1627.450                 4                True
3     bmw  Black          11179      5  2200000    5.0             9.6            1073.184                 4                True
4  nissan  White         213095      4   350000    5.0             8.7           18539.265                 4                True
5  toyota  Green          99213      4   450000    5.0             4.7            4663.011                 4                True
6   honda   Blue          45698      4   750000    5.0             8.7            3975.726                 4                True
7   honda   Blue          54738      4   700000    5.0             3.0            1642.140                 4                True
8  toyota  White          60000      4   625000    5.0             4.5            2700.000                 4                True
9  nissan  White          31600      4   970000    5.0             7.3            2306.800                 4                True

In [4]:
import pandas as pd
# ...
carSalesDF.to_csv('./car-sales-data-new.csv', index=False)

In [5]:
import pandas as pd

pd.set_option('display.width', 1000)
print(carSalesDF)

carSalesDF = pd.read_csv('./car-sales-data-new.csv')
carSalesDF.sample(frac=0.5)

     Make Colour  Odometer (KM)  Doors    Price  seats  Fuel per 100KM  Total fuel used(L)  Number of wheels  Passed road safety
0  toyota  White         150043      4   400000    5.0             7.5           11253.225                 4                True
1   honda    Red          87899      4   500000    5.0             9.2            8086.708                 4                True
2  toyota   Blue          32549      3   700000    5.0             5.0            1627.450                 4                True
3     bmw  Black          11179      5  2200000    5.0             9.6            1073.184                 4                True
4  nissan  White         213095      4   350000    5.0             8.7           18539.265                 4                True
5  toyota  Green          99213      4   450000    5.0             4.7            4663.011                 4                True
6   honda   Blue          45698      4   750000    5.0             8.7            3975.726                 4                True
7   honda   Blue          54738      4   700000    5.0             3.0            1642.140                 4                True
8  toyota  White          60000      4   625000    5.0             4.5            2700.000                 4                True
9  nissan  White          31600      4   970000    5.0             7.3            2306.800                 4                True

     Make Colour  Odometer (KM)  Doors    Price  seats  Fuel per 100KM  Total fuel used(L)  Number of wheels  Passed road safety
1   honda    Red          87899      4   500000    5.0             9.2            8086.708                 4                True
0  toyota  White         150043      4   400000    5.0             7.5           11253.225                 4                True
3     bmw  Black          11179      5  2200000    5.0             9.6            1073.184                 4                True
7   honda   Blue          54738      4   700000    5.0             3.0            1642.140                 4                True
9  nissan  White          31600      4   970000    5.0             7.3            2306.800                 4                True