In [7]:
import sqlite3
conn = sqlite3("DB_Test.db")
cour = conn.cursor()
cour.execute('''SELECT count(name)
                FROM sqlite_master
                WHERE type='table' AND name = 'student' ''')
if cour.fetchone()[0] == 1:
    print('Table students is exists.')
else:
    sql = '''create table students(
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        stundetID TEXT NOT NULL,
        name TEXT NOT NULL,
        gender TEXT NOT NULL,
        department TEXT NOT NULL)'''
cursor = conn.execute(sql)
print('creating table student done!')

TypeError: 'module' object is not callable

In [6]:
cursor = conn.execute('select * from students')
name = list(map(lambda x: x[0], cursor.description))
print(names)

NameError: name 'conn' is not defined

In [8]:
cour.execute('''SELECT count(name) FROM sqlite_master WHERE type='table' AND name = 'students' ''')
if cour.fetchone()[0] == 1:
    op = input('Delete table of students? (Y/N)')
    if op.capitalize() == "Y":
        cour.execute('''Drop table students;''')
cour.execute('''SELECT count(name) FROM sqlite_master WHERE type='table AND name = 'students' ''')
if cour.fetchone()[0] == 1:
    print('Table students still alive.')
else:
    print('The table students is gone!')

NameError: name 'cour' is not defined

In [9]:
import sqlite3
conn = sqlite3.connect('DB_Test.db')
cour = conn.cursor()
while True:
    new_studentID = input("New student ID: ")
    new_name = input('Student Name: ')
    new_gender = input('Gender: ')
    new_department = input( 'Department: ')
    x = ( new_studentID, new_name, new_gender, new_department)
    insSQL = '''insert into students (studentID, name, gender, department) values (?, ?, ?, ?)''' 
    cour.execute( insSQL, x)
    conn.commit()
    again = input('continue? (Y/N)') 
    if again[ 0 ].lower() == 'n':
        break
cour.close()
conn.close()

OperationalError: no such table: students

In [ ]:
import sqlite3
conn = sqlite3.connect('DB_Test.db')
cour = conn.cursor()
studentID = input( 'student id: ')
sql = f'''select * from students WHERE studentID = "{studentID}" '''
result = cour.execute( sql )
allstudents = result.fetchall()
for student in allstudents: 
    print(student)
cour.close()
conn.close()